<div class="col-md-6 mb-4">
    <div class="card shadow-sm">
      <div class="card-header bg-primary text-white">
        <h5 class="mb-0">Buscar Personal</h5>
      </div>
      <div class="card-body">
        <form [formGroup]="typeaheadForm!" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="typeaheadInput" class="form-label">Departamento</label>
            <input
              id="typeaheadInput"
              type="text"
              class="form-control"
              formControlName="searchTerm"
              (input)="onSearch($event)"
              placeholder="Ejemplo: Juan"
            />
            <!-- Sugerencias -->
            <ul class="list-group mt-2" *ngIf="filteredSuggestions.length > 0">
              <li
                *ngFor="let suggestion of filteredSuggestions"
                class="list-group-item list-group-item-action"
                (click)="selectSuggestion(suggestion)"
              >
                {{ suggestion }}
              </li>
            </ul>
          </div>
          
          <div class="form-group mt-3">
            <label for="name">Nombre del Personal</label>
            <input
              id="name"
              type="text"
              class="form-control"
              formControlName="name"
              placeholder="Nombre"
            />
          </div>
  
        
  
          <div class="form-group mt-3">
            <label for="control">Control</label>
            <input
              id="control"
              type="number"
              class="form-control"
              formControlName="control"
              placeholder="Control"
            />
          </div>
  
          <button type="submit" class="btn btn-primary mt-3" [disabled]="!typeaheadForm!.valid">Buscar</button>
        </form>
      </div>
    </div>
  </div>
  